{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>

    <div class="form-container">
        {{ form_start(formuser, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_label(formuser.email) }}
            {{ form_widget(formuser.email) }}
            {{ form_errors(formuser.email) }}
            
            {% if new < 2 %}
                {{ form_label(formuser.password) }}
                {{ form_widget(formuser.password) }}
                {{ form_errors(formuser.password) }}
            {% endif %}
            

            {{ form_label(formuser.pseudo) }}
            {{ form_widget(formuser.pseudo) }}
            {{ form_errors(formuser.pseudo) }}

            <button type="submit">
            {% if new < 2 %}
                Ajouter
            {% else %}   
                Modifier
            {% endif %}
            </button>
        {{ form_end(formuser) }}
    </div>
{% endblock %}
