{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.pseudo}} {% endblock %}

{% block javascripts %}
    <script src="{{ asset('/scripts/modal.js') }}" defer></script>
{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <ul>
        <li>Mon pseudo : {{ user.pseudo }}</li>
        <li>Mon email : {{ user.email }}</li>
    </ul>

    <a href="{{ path('edit.user', {id:user.id}) }}">Mettre à jour</a>
    <a href="#" class="btn-unsubscribe">Supprimer mon profil</a>

    <div class="modal unsubcribe-modal">
        <h2>Êtes-vous certain de vouloir supprimer votre profil ?</h2>
        <ul>
            <li>Vous n'aurez plus accès à votre compte</li>
            <li>Votre liste de films sera supprimée</li>
            <li>Vos commentaires seront supprimés</li>
        </ul>
        <a href="{{ path('delete.user', {id:user.id}) }}">Confirmer</a>
    </div>

    <a href="{{ path('userlist', {id:user.id}) }}">Choisir un film</a>

    {% if new > 0 %}
        <div class="form-container">
            {{ form_start(formuser, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_label(formuser.movies) }}
                {{ form_widget(formuser.movies) }}
                {{ form_errors(formuser.movies) }}
            
                <button type="submit">Mettre à jour ma liste</button>
            {{ form_end(formuser) }}
        </div>
    {% endif %}

{% endblock %}